/* Enter your custom styles here */

.vjs-big-play-button {
  display: none !important;
}
.phonePlayerWidth {
  width: 100% !important;
  height: 100% !important;
}

.nonphonePlayerWidth {
  width: 100% !important;
  height: 100% !important;
}
