/* Enter your custom styles here */

.vjs-big-play-button {
  display: none !important;
}
.phonePlayerWidth {
  width: 80vw !important;
  height: 50vh !important;
}

.nonphonePlayerWidth {
  width: 50vw !important;
  height: 40vh !important;
}
